{% extends 'base.html' %}

{% block title %}Modifica Richiesta{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="mb-4">
        <a href="{% url 'admin-dashboard' %}" class="btn btn-outline-primary rounded-pill">
          <i class="fas fa-arrow-left me-1"></i> Torna alla Dashboard
        </a>
      </div>
    <h1 class="fw-bold mb-4">Modifica Richiesta</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Salva Modifiche</button>
    </form>
</div>
{% endblock %}
