{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container py-5">
  <div class="mb-4">
    <a href="{% url 'home' %}" class="btn btn-outline-primary rounded-pill">
      <i class="fas fa-arrow-left me-1"></i> Torna alla Home
    </a>
  </div>
  <h1>Informativa sulla Privacy</h1>
  <p>Descrizione dettagliata della politica sulla privacy dell’azienda. Puoi aggiungere contenuti grafici e multimediali.</p>
  <img src="{% static 'images/privacy.jpg' %}" class="img-fluid my-4">
</div>
{% endblock %}
