{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="container py-5">

  <div class="text-center mb-5">
    <h1 class="fw-bold">{{ titolo }}</h1>
    {% if banner %}
      <img src="{{ banner.url }}" class="img-fluid my-4" alt="Banner">
    {% endif %}
  </div>

  <div class="row">
    {% if immagine %}
      <div class="col-md-5 mb-3">
        <img src="{{ immagine.url }}" class="img-fluid rounded" alt="Immagine">
      </div>
    {% endif %}
    <div class="col-md-7">
      <p class="lead">{{ contenuto|safe }}</p>
    </div>
  </div>

  {% if video %}
    <div class="ratio ratio-16x9 mt-5">
      <iframe src="{{ video }}" frameborder="0" allowfullscreen></iframe>
    </div>
  {% endif %}

</div>
{% endblock %}
