{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container py-5">
  <div class="mb-4">
    <a href="{% url 'home' %}" class="btn btn-outline-primary rounded-pill">
      <i class="fas fa-arrow-left me-1"></i> Torna alla Home
    </a>
  </div>
  <h1>Sostenibilità</h1>
  <p>Parliamo dei nostri valori ecologici. Qui puoi aggiungere testi, immagini, banner, video, ecc.</p>
  
  <img src="{% static 'images/green.jpg' %}" class="img-fluid my-4" alt="Sostenibilità">

  <div class="ratio ratio-16x9">
    <iframe src="https://www.youtube.com/embed/VIDEO_ID" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
{% endblock %}
